<!DOCTYPE html>
<html>

<head>
  <title>Enter in some variables</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <style>
    .myBg {
      background-color: aliceblue;
    }
  </style>
</head>

<body class="myBg">
  <div class="container">
    <div class="form-group">
      <form action="/madlib" method="post">
        <label for="adjective1">adjective1</label>
        <input type="text" name="adjective1" id="adjective1" class="form-control">
        <label for="adjective2">adjective2</label>
        <input type="text" name="adjective2" id="adjective2" class="form-control">
        <label for="adjective3">adjective3</label>
        <input type="text" name="adjective3" id="adjective3" class="form-control">
        <label for="adjective4">adjective4</label>
        <input type="text" name="adjective4" id="adjective4" class="form-control">
        <label for="adverb1">adverb1</label>
        <input type="text" name="adverb1" id="adverb1" class="form-control">
        <label for="adverb2">adverb2</label>
        <input type="text" name="adverb2" id="adverb2" class="form-control">
        <label for="noun1">Noun</label>
        <input type="text" name="noun1" id="noun1" class="form-control">
        <label for="noun2">Noun</label>
        <input type="text" name="noun2" id="noun2" class="form-control">
        <label for="noun3">Noun</label>
        <input type="text" name="noun3" id="noun3" class="form-control">
        <label for="verb">Verb</label>
        <input type="text" name="verb" id="verb" class="form-control">
        <label for="verbPastTense1">Verb, Past Tense</label>
        <input type="text" name="verbPastTense1" id="verbPastTense1" class="form-control">
        <label for="verbPastTense2">Verb, Past Tense</label>
        <input type="text" name="verbPastTense2" id="verbPastTense2" class="form-control">
        <button type="submit" id="submitMadLib" class="btn btn-dark">Submit</button>
      </form>
    </div>
  </div>
</body>

</html>
