<!DOCTYPE html>
<html>

<head>
  <title>Enter in some variables</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <p>Today I went to the zoo. I saw a @Model.Adjective1  @Model.Noun1 jumping up and down in its tree. 
He _____________(verb, past tense) __________(adverb) 
through the large tunnel that led to its _______(adjective) 
__________(noun). I got some peanuts and passed 
them through the cage to a gigantic gray _______(noun)
towering above my head. Feeding that animal made 
me hungry. I went to get a __________(adjective) scoop 
of ice cream. It filled my stomach. Afterwards I had to 
__________(verb) __________ (adverb) to catch our bus. 
When I got home I __________(verb, past tense) my 
mom for a __________(adjective) day at the zoo.</p>
  </div>
</body>


</html>

<!-- 
  adjective x 4
adverb x 2
noun x 3
verb x 1
verb, past tense x 2


Today I went to the zoo. I saw a(n) 
___________(adjective)
_____________(Noun) jumping up and down in its tree. 
He _____________(verb, past tense) __________(adverb) 
through the large tunnel that led to its _______(adjective) 
__________(noun). I got some peanuts and passed 
them through the cage to a gigantic gray _______(noun)
towering above my head. Feeding that animal made 
me hungry. I went to get a __________(adjective) scoop 
of ice cream. It filled my stomach. Afterwards I had to 
__________(verb) __________ (adverb) to catch our bus. 
When I got home I __________(verb, past tense) my 
mom for a __________(adjective) day at the zoo. -->